/* git => https://icongr.am/devicon/git-original.svg?size=138&color=181616 */
 /* html => https://icongr.am/devicon/html5-original.svg?size=138&color=181616 */


 /* this file contains new addition */

 /* 1) all the "what i am good at section"
 2) all my work portfolio section 
 3) and all other new addition section 
  */

  .skills {
      display: flex; 
      min-height: 80%; 
     
  }

  .skills-ul {
   display:block; 
   
   min-height:max-content;
   margin:20px;
  }

  .Icons {
      min-height: 20vh;
      min-width:20vh;
      margin: 2vh;
      
      align-content: center;
      font-size:5vh;
      
      
  }

  .resume {
     
       text-transform: lowercase;
  }

  .button {
      
      text-transform: lowercase;
      font-weight: bold;
      
     

  }
  .email {
   
      text-transform: lowercase;
   
  }

  .mobile {
      text-transform: lowercase;
  }

  .email-mobile {
      display:flex; 
      align-content: space-between;
      
  }

  .contact {
     margin: 8vh;
  }

  .project{
      display:block; 
      background-color: khaki;
  }
  